@{
    <link href="@Url.Content("~/Content/About.css")" rel="stylesheet" type="text/css" />
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="top-margin">The Application is a simple invoice management tool for businesses of any kind, it also allows management of products and customers, and retrieving reports of all the sales in a period (based on start and end date querying)</p>

<p class="top-margin">This application was creating using the C# Programming Language and the ASP.NET MVC 5 Web Application Development Framework, in conjunction with MySQL for the database.</p>

<p class="top-margin">The front-end, it was written Microsoft's Razor Templating Syntax to run on MVC 5's view engine.</p>

<p class="top-margin">Finally, the database was written using the Code-First methodology, and it was designed in accordance with the latest MySQL Standards.</p>

<img style="width:100%" id="diagram" class="top-margin" src="~/Content/Images/Diagram.png">
<label for="diagram">Diagram of the Database (Created using Code-First Migrations)</label>

<div class="contact">
    <h4 class="text-bold">Contact:</h4>
    <p>Mohamad Yahia, Feb 2019.</p>
    <p>mohamad.s.yahia@gmail.com
    <p>
    <p>(+971)50-140-2911
    <p>
</div>

