@{
    ViewBag.Title = "Home";
}

<div class="jumbotron top-margin">
    <h3>Welcome to InvoiceMe!</h3>
    <p class="lead">InvoiceMe is an App that allows you to easily manage your business's invoices.</p>
    <p>
        <a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">
            Learn more &raquo;
        </a>
    </p>
</div>
